/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 1 version
*/

:root {
  --col-btn: #FF9900;
  --col-btn-active: #E1670E;
  --col-text: #333;
  --col-border: #CACACA;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--col-text);
}
.btn {
  align-items: center;
  padding: 19px 38px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  background: var(--col-btn);
  cursor: pointer;
  transition: background .2s ease-in-out;
}
.btn:hover {
  background: rgba(255, 153, 0, 0.6);
}
.btn:active {
  background: var(--col-btn-active);
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1800px;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 101;
  top: 0;
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.header__logo {
  height: 72px;
  width: 224px;
}
.header__burger {
  position: relative;
  z-index: 200;
  display: none;
  height: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger__menu {
  display: block;
  width: 30px;
  height: 3px;
  background: var(--col-text);
}
.burger__menu::after,
.burger__menu::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: var(--col-text);
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.burger__menu::after{
  top: 0;
}
.burger__menu::before {
  bottom: 0;
}
.burger__menu--close {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger__menu--close::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.burger__nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 420px;
  height: 756px;
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.burger__nav--open {
  display: block;
}
.burger___list {
  display: block;
  padding-top: 145px;
  margin-left: 70px;
  margin-right: 220px;
}
.burger___item {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--col-text);
  cursor: pointer;
}
.burger___item:not(:last-child) {
  margin-bottom: 54px;
}
.header__nav {
  margin-left: auto;
  margin-right: 71px;
  margin-top: 8px;
}
.nav__list {
  display: flex;
}
.nav__item,
.nav__search {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.nav__item {
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s ease-in-out;
}
.nav__item:nth-last-child(n + 3) {
  margin-right: 87px;
}
.nav__item:nth-last-child(2),
.nav__item:nth-child(2),
.nav__item:nth-child(3) {
  margin-right: 85px;
}
.nav__item:hover,
.burger___item:hover {
  border-bottom: 1px solid var(--col-btn);
}
.nav__item:active,
.burger___item:active {
  border-bottom: 1px solid var(--col-btn-active);
  color: var(--col-btn-active);
}
.nav__btn {
  margin-right: 11px;
  margin-top: 8px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}
.nav__search {
  border: none;
  background: #fff;
}
.nav__btn:hover rect{
  fill: var(--col-btn);
}
.nav__btn:hover circle{
  stroke: var(--col-btn);
}
.nav__btn:active rect{
  fill: var(--col-btn-active);
}
.nav__btn:active circle{
  stroke: var(--col-btn-active);
}
.section__hero {
  position: relative;
  margin-top: 101px;
}
.container--hero {
  position: relative;
  margin-bottom: 100px;
  padding-top: 103px;
  padding-left: 94px;
  padding-bottom: 80px;
}
.hero__slider {
  position: absolute;
  top: 2px;
  left: 15px;
  max-width: 1770px;
  min-height: 620px;
  height: 100%;
  width: calc(100% - 30px);
}
.swiper-slide{
  width: 100%;
  height: 100%;
}
.swiper-slide-img {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  margin-bottom: 20px;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}
.swiper-pagination-bullet:not(:last-child){
  margin-right: 20px !important;
}
.swiper-pagination-bullet-active {
  background: #FFFFFF;
}
.hero__title {
  position: relative;
  z-index: 5;
  margin-bottom: 21px;
  max-width: 842px;
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  color: #FFFFFF;
}
.hero__subtitle {
  position: relative;
  z-index: 5;
  max-width: 842px;
  margin-bottom: 96px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: #FFFFFF;
}
.btn--hero {
  position: relative;
  z-index: 5;
  margin-left: 3px;
  padding: 25.5px 37.5px;
  font-size: 23.4581px;
  line-height: 29px;
}
.section__title {
  padding-left: 2px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}
.section__about {
  margin-bottom: 100px;
}
.section__title--about {
  margin-bottom: 23px;
}
.section__text {
  display: block;
  margin-bottom: 44px;
  max-width: 1235px;
  line-height: 32px;
}
.text__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  background-image: url('../img/i.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}
.section__info {
  display: flex;
  justify-content: space-between;
}
.info__details,
.info__list {
  max-width: 49.15%;
}
.info__details {
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-image: url('../img/about/about-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info__details__wrap {
  display: flex;
  align-items: center;
  padding-top: 39px;
  padding-left: 54px;
  padding-bottom: 40px;
  padding-right: 68px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.details__text,
.details__link {
  font-weight: bold;
  line-height: 32px;
  color: #FFFFFF;
}
.details__text {
  max-width: 497px;
}
.details__link {
  margin-left: 75px;
  padding: 18px 35px;
  border: 3px solid var(--col-btn);
  line-height: 20px;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.details__link:hover {
  background: var(--col-btn);
}
.details__link:active {
  border: 3px solid var(--col-btn-active);
  background: var(--col-btn-active);
}
.info__item {
  padding: 68px 115px 66px 300px;
  border: 1px solid var(--col-border);
  background-repeat: no-repeat;
  background-position: 63px center;
}
.info__item:not(:last-child) {
  margin-bottom: 25px;
}
.info__item:first-child {
  background-image: url('../img/about/about-icon-1.svg');
  background-position: 62px 71px;
}
.info__item:nth-child(2) {
  background-image: url('../img/about/about-icon-2.svg');
  background-position: 63px 56px;
}
.item__title {
  margin-bottom: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.item__text {
  line-height: 32px;
}
.section__work {
  margin-bottom: 100px;
}
.section__title--work {
  margin-bottom: 51px;
  margin-left: -4px;
}
.work__btns {
  display: flex;
  margin-left: 3px;
}
.btns__item {
  display: block;
}
.btns__item:not(:last-child) {
  margin-right: 90px;
}
.item__btn-step {
  margin-bottom: 47px;
  padding: 0;
  border: none;
  background-color: transparent;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color .2s ease-in-out, border .2s ease-in-out;
}
.item__btn-step:hover {
  color: var(--col-btn);
}
.item__btn-step:active {
  color: var(--col-btn-active);
}
.work__step {
  display: none;
}
.work__step--icon-1::after,
.work__step--icon-2::after,
.work__step--icon-3::after,
.work__step--icon-4::after {
  content: "";
  width: 49%;
  height: 465px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.work__step--icon-1::after {
  background-image: url('../img/work/work-img-1.jpg');
}
.work__step--icon-2::after  {
  background-image: url('../img/work/work-img-2.jpg');
}
.work__step--icon-3::after  {
  background-image: url('../img/work/work-img-3.jpg');
}
.work__step--icon-4::after  {
  background-image: url('../img/work/work-img-4.jpg');
}
.item__title--work {
  margin-bottom: 2px;
  line-height: 32px;
}
.item__text--work {
  width: 758px;
}
.item__link--work {
  display: inline-block;
  margin-top: 62px;
  margin-left: 2px;
  background: var(--col-btn);
  border: 1px solid var(--col-btn);
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.item__link--work:hover {
  border: 1px solid transparent;
  background: rgba(255, 153, 0, 0.6);
}
.item__link--work:active {
  background: var(--col-btn-active);
}
.item__link--dog {
  display: inline-block;
  margin-left: 29px;
  border: 1px solid var(--col-text);
  color: var(--col-text);
  font-weight: 400;
  transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}
.item__link--dog:hover {
  color: #FFFFFF;
  background: #666666;
}
.item__link--dog:active {
  border: 1px solid #000000;
  background: #000000;
}
.step__img {
  max-width: 870px;
  width: 100%;
  height: auto;
}
.step-active {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section__faq {
  margin-bottom: 100px;
}
.section__title--faq{
  margin-bottom: 35px;
}
.faq__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 5px;
  border-top: 1px solid var(--col-border);
  border-bottom: 1px solid var(--col-border);
  cursor: pointer;
  transition: border-top .2s ease-in-out, border-bottom .2s ease-in-out, color .2s ease-in-out;
}
.faq__item:first-child {
  padding-top: 43px;
  padding-bottom: 35px;
}
.faq__item:nth-child(2) {
  padding-top: 40px;
  padding-bottom: 35px;
}
.faq__item:nth-child(3) {
  padding-top: 43px;
  padding-bottom: 35px;
}
.faq__item:nth-child(4) {
  padding-top: 40px;
  padding-bottom: 35px;
}
.faq__item:nth-child(5) {
  padding-top: 41px;
  padding-bottom: 35px;
}
.faq__item:not(:first-child) {
  border-top: 1px solid transparent;
}
.faq__item {
  margin-top: -1px;
}
.faq__item:hover {
  border-top: 1px solid var(--col-btn);
  border-bottom: 1px solid var(--col-btn);
  color: var(--col-btn);
}
.faq__item:hover ellipse {
  fill: #D2D2D2;
}
.item__text--faq {
  display: none;
  margin-top: 32px;
}
.open-icon {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: -1;
}
.open-icon svg {
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.ui-accordion-content-active + .open-icon svg {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.accordion-panel {
  max-width: 1003px;
}
.footer {
  padding-top: 47px;
  padding-bottom: 80px;
  background: #222222;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__wrap:nth-child(2) {
  margin-left: 103px;
  margin-top: 10px;
  max-width: 570px;
  width: 100%;
}
.section__title--contacts {
  margin-bottom: 25px;
  color: var(--col-border);
}
.footer__text{
  padding-top: 78px;
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: var(--col-border);
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 105px;
}
.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--col-border);
}
.footer__social {
  display: flex;
}
.social__link:not(:last-child) {
  margin-right: 25px;
}
.footer__inputs {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-width: 570px;
}
.inputs__btn,
.input__agreement {
  display: inline-block;
}
.input__item {
  margin-bottom: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  border: none;
  font-size: 16px;
  line-height: 32px;
  color: var(--col-border);
  background: #414141;
}
.input__item--textarea {
  min-height: 150px;
  margin-bottom: 31px;
}
.btn--footer {
  padding: 21px 52px;
}
.agreement__label {
  font-size: 16px;
  line-height: 32px;
  color: var(--col-border);
}
.agreement__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.agreement__check:focus + .agreement__label{
  outline: -webkit-focus-ring-color auto 1px;
}
.agreement__label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.agreement__label::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  margin-left: 16px;
  margin-top: -1px;
  border: 1px solid var(--col-border);
  width: 14px;
  height: 14px;
}
.agreement__check:checked+.agreement__label::before {
  background-image: url("../img/footer/check.svg");
  background-repeat: no-repeat;
  background-position: center 25%;
}
@media (max-width: 1550px) {
  .info__item {
    padding: 35px 35px 35px 300px;
  }
  .info__details__wrap {
    flex-direction: column;
  }
  .details__text {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }
  .details__link {
    margin-left: 0;
  }
  .item__text--work {
    margin-right: 20px;
  }
}
@media (max-width: 1280px) {
  .nav__item:nth-last-child(n + 3) {
    margin-right: 50px;
  }
  .nav__item:nth-last-child(2),
  .nav__item:nth-child(2),
  .nav__item:nth-child(3) {
    margin-right: 50px;
  }
  .section__info {
    flex-direction: column;
  }
  .info__details,
  .info__list  {
    max-width: 100%;
  }
  .info__details {
    margin-bottom: 50px;
    height: 640px;
    background-size: cover;
  }
  .info__details__wrap {
    flex-direction: row;
    padding-left: 44px;
  }
  .details__text {
    text-align: left;
    margin-bottom: 0;
  }
  .details__link {
    margin-left: 158px;
    margin-top: 3px;
    padding-bottom: 16px;
  }
  .info__item {
    padding: 67px 115px 64px 348px;
  }
  .info__item:first-child {
    background-position: 112px 75px;
  }
  .info__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .info__item:nth-child(2) {
    background-position: 112px 62px;
  }
}
@media (max-width: 1024px) {
  .header__inner {
    padding: 14px 0 20px;
  }
  .header__burger {
    display: block;
    margin-left: -6px;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    margin-left: -12px;
    width: 150px;
    height: 48px;
  }
  .nav__btn {
    margin-right: -2px;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width:  954px;
  }
  .container--hero {
    padding-left: 60px;
    padding-top: 161px;
  }
  .section__hero {
    margin-bottom: 61px;
    margin-top: 87px;
    height: 668px;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
  }
  .hero__subtitle {
    margin-bottom: 110px;
    max-width: 710px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__slider {
    min-height: 667px;
    width: 924px;
  }
  .btn--hero {
    margin-left: 0;
    padding: 25.5px 41px;
  }
  .section__title {
    margin-left: -5px;
  }
  .text__icon {
    margin-left: 0;
  }
  .section__text {
    margin-bottom: 60px;
  }
  .info__details__wrap {
    padding-top: 39px;
    padding-bottom: 37px;
    padding-right: 50px;
  }
  .section__about {
    margin-bottom: 60px;
  }
  .section__title--work {
    margin-left: -8px;
  }
  .work__btns {
    margin-left: 0px;
  }
  .item__text--work {
    width: 437px;
  }
  .work__step--icon-1::after,
  .work__step--icon-2::after,
  .work__step--icon-3::after,
  .work__step--icon-4::after {
    width: 437px;
    height: 689px;
  }
  .item__link--work {
    margin-left: 0;
    margin-top: 28px;
  }
  .item__link--dog {
    margin-left: 26px;
    padding: 19px 37px;
  }
  .section__work {
    margin-bottom: 53px;
  }
  .section__title--faq {
    margin-left: -4px;
    margin-bottom: 39px;
  }
  .item__title--faq {
    font-size: 20px;
    line-height: 32px;
  }
  .faq__item {
    padding-right: 150px;
    padding-left: 0;
  }
  .faq__item:first-child {
    padding-top: 42px;
    padding-bottom: 31px;
  }
  .faq__item:nth-child(2) {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .faq__item:nth-child(3) {
    padding-top: 39px;
    padding-bottom: 34px;
  }
  .faq__item:nth-child(4) {
    padding-top: 30px;
    padding-bottom: 26px;
  }
  .faq__item:nth-child(5) {
    padding-top: 38px;
    padding-bottom: 34px;
  }
  .section__faq {
    margin-bottom: 53px;
  }
  .footer {
    padding-bottom: 80px;
  }
  .footer__text {
    display: none;
  }
  .footer__wrap:nth-child(2) {
    max-width: 535px;
  }
  .section__title--contacts {
    margin-bottom: 22px;
  }
  .footer__inputs {
    margin-left: 0;
    min-width: auto;
  }
  .btn--footer {
    padding: 21px 38px;
  }
  .inputs__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .agreement__label::before {
    margin-left: 11px;
  }
}
@media (max-width: 950px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  .hero__slider {
    width: 100%;
    left: 0;
  }
  .info__item {
    padding: 67px 38px 64px 245px;
  }
  .info__item:first-child {
    background-position: 31px 75px;
  }
  .info__item:nth-child(2) {
    background-position: 31px 62px;
  }
  .work__btns {
    justify-content: space-between;
    width: 100%;
  }
  .work__step {
    position: relative;
  }
  .work__step--icon-1::after,
  .work__step--icon-2::after,
  .work__step--icon-3::after,
  .work__step--icon-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 284px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .step__item {
    margin-top: 320px;
  }
  .item__text--work {
    width: 100%;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__wrap:nth-child(2) {
    order: 1;
    margin-left: 0;
    margin-bottom: 60px;
  }
  .footer__wrap:first-child {
    order: 2;
  }
  .footer__nav {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding: 5px 0 4px;
  }
  .burger__nav {
    top: 0;
    height: 768px;
    width: 303px;
  }
  .burger___list {
    padding-top: 155px;
    margin-left: 90px;
    margin-right: 80px;
  }
  .container--hero {
    padding-top: 193px;
    padding-right: 0;
  }
  .hero__slider {
    min-height: 699px;
  }
  .hero__title {
    width: 100%;
  }
  .section__hero {
    margin-bottom: 93px;
    margin-top: 67px;
  }
  .info__details {
    margin-bottom: 40px;
    height: 650px;
  }
  .info__details__wrap {
    padding-top: 22px;
    padding-bottom: 23px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .details__text {
    margin-right: 33px;
    width: 401px;
  }
  .details__link {
    margin-left: 0;
  }
  .info__item {
    padding: 36px 35px 35px 177px;
  }
  .info__item:first-child {
    background-size: 120px auto;
    background-position: 30px 71px;
  }
  .info__item:nth-child(2) {
    background-size: 116px auto;
    background-position: 30px 67px;
  }
  .item__title--work {
    margin-bottom: 5px;
  }
  .item__link--work {
    margin-right: 26px;
  }
  .section__work {
    margin-bottom: 59px;
  }
  .section__title--faq {
    margin-left: -2px;
    margin-bottom: 37px;
    margin-right: -25px;
  }
  .faq__item {
    padding-right: 95px;
    padding-left: 3px;
  }
  .faq__item:first-child {
    padding-top: 40px;
    padding-bottom: 33px;
  }
  .faq__item:nth-child(3) {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 200px;
  }
  .faq__item:nth-child(4) {
    padding-bottom: 25px;
    padding-right: 110px;
  }
  .faq__item:nth-child(5) {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 115px;
  }
  .section__faq {
    margin-bottom: 58px;
  }
  .footer__nav {
    display: none;
  }
}
@media (max-width: 767px) {
  .burger__nav {
    top: 0;
    height: 679px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section__hero {
    margin-bottom: 36px;
    height: 610px;
  }
  .hero__slider {
    left: 15px;
    width: calc(100% - 30px);
    min-height: 610px;
  }
  .container--hero {
    text-align: center;
    padding-top: 100px;
  }
  .hero__title,
  .hero__subtitle {
    margin-left: auto;
    margin-right: auto;
    max-width: 81%;
  }
  .hero__title {
    font-size: 40px;
    line-height: 46px;
  }
  .hero__subtitle {
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
  }
  .section__title--faq {
    margin-right: 0;
  }
  .section__text {
    margin-bottom: 15px;
  }
  .info__details__wrap {
    flex-direction: column;
    padding-left: 15px;
  }
  .details__text {
    width: 90%;
    text-align: center;
  }
  .info__item {
    padding: 108px 0 0 0;
    border: none;
  }
  .info__item:first-child,
  .info__item:nth-child(2) {
    background-position: top left;
  }
  .btns__item:not(:last-child) {
    margin-right: 0;
  }
  .item__link--work {
    margin-left: 0;
  }
  .item__link--dog {
    margin-left: 0;
    padding: 18px 30px;
  }
  .inputs__btn {
    flex-direction: column;
  }
  .btn--footer {
    margin-bottom: 11px;
  }
  .input__agreement {
    font-size: 16px;
    line-height: 32px;
  }
  .footer__wrapper {
    align-items: center;
  }
  .footer__wrap:nth-child(2) {
    border-bottom: 1px solid #595959;
    padding-bottom: 25px;
    margin-bottom: 23px;
  }
  .footer__wrap:first-child {
    text-align: center;
  }
  .footer__social {
    justify-content: center;
  }
  .footer {
    padding-bottom: 25px;
  }
}
@media (max-width: 414px) {
  .burger__nav {
    top: 0;
    right: 0;
    left: auto;
    height: 307px;
    width: 200px;
  }
  .burger___list {
    padding-top: 66px;
    margin-right: 16px;
    margin-left: 61px;
  }
  .burger___item {
    font-size: 16px;
    line-height: 20px;
  }
  .burger___item:not(:last-child) {
    margin-bottom: 5px;
  }
  .header__inner {
    padding-top: 7px;
    padding-bottom: 5px;
  }
  .nav__btn {
    display: none;
  }
  .header__burger {
    order: 2;
    margin-right: -6px;
    height: 19px;
  }
  .burger__menu,
  .burger__menu::before,
  .burger__menu::after {
    width: 25px;
  }
  .header__logo {
    margin-left: 0;
    width: 97px;
    height: 31px;
  }
  .container--hero {
    padding-top: 34px;
  }
  .hero__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__subtitle {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .btn {
    padding: 4px 28px 7px;
    font-size: 12px;
  }
  .section__hero {
    margin-bottom: 41px;
    margin-top: 43px;
    height: 262px;
  }
  .hero__slider {
    min-height: 262px;
    height: 262px;
  }
  .swiper-pagination-bullets {
    display: none;
  }
  .section__title {
    font-size: 24px;
    line-height: 29px;
  }
  .section__title--about {
    margin-bottom: 2px;
    margin-left: -2px;
  }
  .section__text {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 28px;
  }
  .info__details__wrap {
    padding-top: 208px;
    padding-right: 0;
    background: transparent;
    flex-direction: column;
  }
  .info__details {
    margin-bottom: 16px;
    height: auto;
    background-size: 100% 200px;
    background-position: top center;
  }
  .details__text {
    text-align: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: var(--col-text);
  }
  .details__link {
    margin-left: -15px;
    margin-right: auto;
    margin-top: 11px;
    padding: 6px 42px 8px;
    font-size: 12px;
    color: var(--col-btn);
  }
  .details__link:hover {
    color: #fff;
  }
  .info__item {
    padding: 62px 0 0 0;
  }
  .info__item:nth-child(2) {
    padding: 67px 0 0 0;
  }
  .info__item:first-child,
  .info__item:nth-child(2) {
    background-size: 64px auto;
    background-position: top left;
  }
  .info__item:not(:last-child) {
    margin-bottom: 21px;
  }
  .item__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .item__text {
    font-size: 14px;
    line-height: 28px;
  }
  .section__about {
    margin-bottom: 47px;
  }
  .section__title--work {
    margin-left: -2px;
    margin-bottom: 37px;
  }
  .btns__item {
    font-size: 12px;
  }
  .item__btn-step {
    margin-bottom: 18px;
  }
  .work__step--icon-1::after,
  .work__step--icon-2::after,
  .work__step--icon-3::after,
  .work__step--icon-4::after {
    height: 160px;
  }
  .step__item {
    margin-top: 171px;
  }
  .item__text--work {
    margin-bottom: 21px;
  }
  .item__link--work {
    margin-left: 0;
    margin-top: 0;
    padding: 8px 43px 10px;
    color: #fff;
  }
  .item__link--dog {
    padding: 8px 31px 10px;
    margin-left: 6px;
    margin-top: 0;
    color: var(--col-text);
  }
  .section__work {
    margin-bottom: 39px;
  }
  .section__title--faq {
    margin-bottom: 15px;
  }
  .faq__item {
    padding-right: 60px;
    padding-left: 1px;
  }
  .faq__item:first-child {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .faq__item:nth-child(2) {
    padding-right: 70px;
  }
  .faq__item:nth-child(3) {
    padding-right: 70px;
  }
  .faq__item:nth-child(4) {
    padding-right: 50px;
  }
  .faq__item:last-child {
    padding-right: 50px;
  }
  .open-icon {
    top: 39px;
  }
  .faq__item:nth-child(2) .open-icon,
  .faq__item:nth-child(3) .open-icon,
  .faq__item:nth-child(4) .open-icon {
    top: 51px;
  }
  .item__title--faq {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .open-icon svg {
    width: 30px;
    height: 30px;
    right: 15px;
  }
  .accordion-content {
    font-size: 12px;
  }
  .section__faq {
    margin-bottom: 39px;
  }
  .footer {
    padding-top: 28px;
    padding-bottom: 21px;
  }
  .input__item {
    padding-left: 20px;
    font-size: 14px;
  }
  .input__item--textarea {
    margin-bottom: 25px;
  }
  .btn--footer {
    padding: 13px 28px 14px;
  }
  .agreement__label::before {
    margin-left: 0px;
  }
  .footer__wrap:nth-child(2) {
    padding-bottom: 22px;
  }
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    width: 131px;
  }
  .social__icon {
    width: 34.4px;
  }
  .social__link:not(:last-child) {
    margin-right: 15px;
  }
}
